// @import "./_style-variables";

.navbar {
  position: relative;
  top: -50px;
  height: 50px;
  padding: 0 10px;
  width: 100%;
  z-index: 50;
  display: flex;
  align-items: space-around;
  box-sizing: border-box;

  a {
    color: green;

    &:hover {
      color: red;
    }
  }
  // transition: top 0.2s

  &.navbar-midpage {
    transition: top 0.2s;
    position: fixed;
    top: -50px;
    background-color: grey;
    color: white;
    opacity: 0;
    transition: top 0.2s, opacity 0s .2s;

    &.visible {
      transition: top 0.2s;
      top: 0;
      opacity: 1;
    }
  }
}