// $hamburger-padding-x           : 16px;
// $hamburger-padding-y           : 17px;
// $hamburger-layer-width         : 18px;
// $hamburger-layer-height        : 2px;
// $hamburger-layer-spacing       : 3px;
// /*$hamburger-layer-color         : #000;*/
// $hamburger-layer-border-radius : 4px;
// $hamburger-hover-opacity       : 0.7;

@import "~purecss";
// @import "~hamburgers/_sass/hamburgers/hamburgers.scss";


.app-navbar {
  width: 100%;
  height: 50px;
  background-color: var(--background);
  z-index: 10 !important;
  top: 0;
  position: absolute;
}

// .pure-menu {
//   padding-top: 50px;
//   background-color: #222f3e;
//   color: #576574;
//   opacity: 1;
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   z-index: 5;
//   top: 0;
//   transform: translateY(-100%);
//   transition: transform .3s;
// }

// .pure-menu-list {
//   padding-top: 40px;
//   font-size: 1.3em;
// }

// .pure-menu.is-active {
//   transform: translateY(0);
// }

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

// @media screen and (min-width: 35.5em) {
//   .hamburger {
//     display: none !important;
//   }
// }
